* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.department {
  margin-bottom: 20px;
}

.ceo-name {
  margin-bottom: 10px;
  width: fit-content;
  text-transform: capitalize;
  color: white;
  border: rgba(255, 0, 0, 0.963) solid 1px;
  background-color: rgba(255, 0, 0, 0.449);
  box-shadow: 0 0 10px rgba(113, 113, 113, 0.763);  border-radius: 4px;
}

.department-name, .team-name {
    display: flex;
    align-items: center;
    border: rgba(36, 36, 36, 0.207) solid 1px;
    box-shadow: 0 0 10px rgba(196, 196, 196, 0.763);  border-radius: 4px;
    text-transform: capitalize;
    padding: 5px 20px 5px 20px;
}

.department-name-head, .team-name-head {
  margin-right: 10px;
  border-radius: 4px;
  font-weight: 400;
  font-size: .5em;
}

.department-manager-head {
  font-weight: 400;
  font-size: .5em;
  color: white;
  background-color: rgba(24, 24, 24, 0.505);
  border-radius: 4px;
  margin-right: 20px;
}

.department-name-head {
  background-color: black;
  color: white;
}

.team-name-head {
  background-color: orange;
  color: white;
}

